.project
.classpath
.settings
*.ipr
.idea
*.iws
*.iml
*~
.DS_Store
target
test-output
.externalToolBuilders
bin
node_modules
bower_components
data
'data'
testdata
/export
/doc
coverage-error.log
msp-web.code-workspace
logs
